<div>
<h3 align="center">SWISS GLOBAL GROUP</h3>
<p>
Welcome <b>{$member_name}</b>, <br/>
Swiss global group, welcomes you in our elite member club. This is also to acknowledge that we have received your member ship fees of <b>INR 100/- </b> and <b>INR 2,000/-</b> as your participation fund for club. 
<br/>
Your registration number for any further reference would be <b>ID : {$id}</b>. Please note and use this number for any further official correspondence.
</p>
<p>
Please note that the following is your information submitted to us. <br/><br/>

<b>Name: </b> {$member_name} <br/>
<b>Father Name: </b> {$father_name} <br/>
<b>Sponsor: </b> {$sponsor} <br/>
<b>Address: </b> {$address} <br/>
<b>City: </b> {$city} <br/>
<b>State: </b> {$state} <br/>

<hr/>

<b>Pan No: </b> {$pan_no} <br/>
<b>Adhaar No: </b> {$adhaar_no} <br/>
</p>
<h3>For <br/> Swiss Global Group, Director</h3>
</div>